
.icon-rate_4:before { content: '\e800'; } /* '' */
.icon-rate_5:before { content: '\e801'; } /* '' */
.icon-rate_3:before { content: '\e802'; } /* '' */
.icon-rate_2:before { content: '\e803'; } /* '' */
.icon-rate_1:before { content: '\e804'; } /* '' */
